.header {
  margin-bottom: 25px;
  padding-top: 30px;

  background-color: #f9f9f9;

  @media (max-width: $md) {
    margin-bottom: 20px;
  }
}

.header__container {
  position: relative;
}

.header__top {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;

  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
}

.header__logo {
  margin-top: -10px;
  // margin-right: 28px;
  margin-right: 2.5%;
  @media (max-width: $md) {
    order: -1;
    margin-right: 0;
    margin-bottom: 6px;
  }
}

.header__search {
  width: 37%;
  margin-right: auto;

  @media (max-width: $xl) {
    width: 31%;
  }

  @media (max-width: $lg) {
    width: 43%;
  }

  @media (max-width: $md) {
  }

  @media (max-width: $md) {
    order: 1;
    width: 100%;
  }
}

.header__address {
  display: flex;
  flex-direction: column;
  margin-right: 5px;

  @media (max-width: $lg) {
    display: none;
  }
}

.header__phone {
  margin-right: auto;

  @media (max-width: $xl) {
  }

  @media (max-width: $md) {
    flex-direction: row;
    justify-content: center;
    order: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }

  @media (max-width: $ss) {
    justify-content: flex-end;
  }
}

.header__arrow-wrap {
  padding: 15px;

  // transition: .3s;

  &:hover {
    background-color: $c-white;
  }

  &:hover .modal__container {
    display: flex;
  }
}

.header__arrow {
  width: 23px;
  height: 13px;

  background: url("../img/icon/down_arrow.png") no-repeat center center;
  background-size: 100%;

  @media (max-width: $md) {
    position: absolute;
    top: 5px;
    right: 18px;
  }
}

.header__bottom {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  @media (max-width: $md) {
    padding-bottom: 0;
  }
}

.header__nav {
  margin-right: auto;

  @media (max-width: $md) {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 100px 30px 30px 30px;

    background-color: rgba(0, 0, 0, .6);

    transition: left .3s ease 0s;
  }
}

.header__nav .nav__list {
  position: relative;
}

.header__nav .nav__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}


.header__nav .nav__link {
  text-transform: uppercase;
  letter-spacing: .05em;

  @media (max-width: $xl) {
    font-size: 12px;
  }
}


.header__cart {
  width: 21px;
  height: 23px;

  background: url("../img/icon/cart.png") no-repeat center center;
  background-size: 100%;

  @media (max-width: $md) {
    position: absolute;
    top: 0;
    right: 55px;
  }
}

.header__burger {
  display: none;

  @media (max-width: $md) {
    position: absolute;
    top: 5px;
    left: 10px;

    display: block;
    width: 31px;
    height: 17px;

    background: url("../img/icon/burger_icon-mob.png") no-repeat center center;
    background-size: 100%;
  }
}
