.header {
  margin-bottom: 25px;
  padding-top: 30px;

  background-color: #f9f9f9;

  @media (max-width: $md) {
    margin-bottom: 20px;
  }
}

.header__container {
  position: relative;
}

.header__top {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;

  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
}

.header__logo {
  margin-top: -10px;
  margin-right: 2.5%;
  @media (max-width: $md) {
    order: -1;
    margin-right: 0;
    margin-bottom: 6px;
  }
}

.header__search {
  width: 37%;
  margin-right: auto;

  @media (max-width: $xl) {
    width: 31%;
  }

  @media (max-width: $lg) {
    width: 43%;
  }

  @media (max-width: $md) {
  }

  @media (max-width: $md) {
    order: 1;
    width: 100%;
  }
}

.header__address {
  display: flex;
  flex-direction: column;
  margin-right: 5px;

  @media (max-width: $lg) {
    display: none;
  }
}

.header__phone {
  margin-right: auto;

  @media (max-width: $xl) {
  }

  @media (max-width: $md) {
    flex-direction: row;
    justify-content: center;
    order: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }

  @media (max-width: $ss) {
    justify-content: flex-end;
  }
}

.header__arrow-wrap {
  padding: 5px 15px 20px;

  transition: .3s;

  @media (max-width: $md) {
    padding: 0;
  }

  &:hover {
    background-color: $c-white;
  }
}

.header__arrow {
  position: relative;
  top: -4px;
  right: 0;
  z-index: 70;

  display: block;
  width: 23px;
  height: 13px;

  cursor: pointer;

  transition: .3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;

    width: 70%;
    height: 10%;

    background-color: $c-accent;

    transition: .3s;
  }

  &::before {
    left: 10px;

    transform: rotate(-45deg);
  }

  &::after {
    left: 0;

    transform: rotate(45deg);
  }

  @media (max-width: $md) {
    position: absolute;
    top: 5px;
    right: 18px;
  }
}

.header__arrow-wrap:hover .header__arrow::before {
  top: 10px;

  transform: rotate(45deg);
}

.header__arrow-wrap:hover .header__arrow::after {
  top: 10px;

  transform: rotate(-45deg);
}

.header__arrow-wrap:hover .modal {
  visibility: visible;
  opacity: 1;

  pointer-events: all;
}

.header__arrow.active {
  transform: rotate(-180deg);
}

.header__bottom {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0 -14px;

  @media (max-width: $md) {
    padding-bottom: 0;
  }
}

.header__nav {
  margin-right: auto;

  @media (max-width: $md) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
    transform: translate(100%, 0);

    transition: .3s;
  }
}

.header__nav.active {
  transform: translate(0, 0);
}

.header__nav .nav__list {
  &:not(:last-child) {
    @media(max-width: $md) {
      margin-bottom: 20px;
    }
  }

  @media(max-width: $md) {
    flex-direction: column;
    padding-top: 25px;

    background-color: $c-white;
  }
}

.header__nav .nav__item:first-child .nav__link {
  position: relative;
}

.header__nav .nav__link {
  text-transform: uppercase;
  letter-spacing: .05em;

  @media (max-width: $xl) {
    font-size: 12px;
  }

  @media (max-width: $md) {
    font-size: $fz-secondary;
  }
}

.header__cart {
  width: 21px;
  height: 23px;
  margin-right: 13px;
  background: url("../img/icon/cart.png") no-repeat center center;
  background-size: 100%;

  @media (max-width: $md) {
    position: absolute;
    top: -127px;
    right: 55px;
  }
}

.header__burger {
  display: none;

  @media (max-width: $md) {
    position: absolute;
    top: 5px;
    left: 10px;

    display: block;
    width: 31px;
    height: 17px;

    background: url("../img/icon/burger_icon-mob.png") no-repeat center center;
    background-size: 100%;
  }
}
