.address {
  position: relative;
  padding-left: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 14px;
    height: 20px;

    background: url("../img/icon/location_icon.png") no-repeat center center;
    background-size: 100%;
  }
}
