.breadcrumb {
  @extend .list-reset;

  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 11px;

  @media (max-width: $lg) {
    margin-bottom: 25px;
  }

  @media (max-width: $md) {
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-top: 0;
  }
}

.breadcrumb__item {
  &--current {
    font-weight: 400;
    font-size: 12px;
    font-family: $ff-main;
    color: $c-accent;

    @media (max-width: $lg) {
      font-size: 10px;
    }
  }
}

.breadcrumb__link {
  font-weight: 400;
  font-size: 12px;
  font-family: $ff-main;
  color: $c-main;

  @media (max-width: $lg) {
    font-size: 10px;
  }
}

.breadcrumb__link-el {
  padding: 0 8px;

  @media (max-width: $md) {
    padding: 0 6px;

    white-space: pre-wrap;
  }
}
