.category {
  // margin-bottom: 30px;
  // padding: 30px;

  // background-color: #f9f9f8;
  // border: 1px solid #e5d9bd;

  // &:hover {
  //   text-decoration: none;

  //   background-color: #f1eadb;
  // }
}

.category__title {
  font-size: $fz-main;
  text-align: center;
}

.category__wrap-img {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.category__wrap-img img {
  width: 100px;
  height: 100px;
}
