.category {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

.category__title {
  margin-top: auto;

  font-size: $fz-main;
  text-align: center;

  @media (max-width: $xl) {
    font-size: 12px;
  }

  @media (max-width: $lg) {
    font-size: 12px;
  }
}

.category__wrap-img {
  display: flex;
  justify-content: center;
  // margin-bottom: 15px;
}

.category__wrap-img img {
  width: 100%;
  height: auto;
}
