.container {
    position: relative;

    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;

    @media (max-width: $sl) {
      max-width: 1140px;
    }

    @media (max-width: $xl) {
      max-width: 960px;
      padding-right: 15px;
      padding-left: 15px;
    }

    @media (max-width: $lg) {
      max-width: 720px;
    }

    @media (max-width: $md) {
      max-width: 540px;
    }

    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
