.container {
  position: relative;

  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;

  @media (max-width: $lg) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
