.directory .container {
  padding-bottom: 7px;

  @media (max-width: $lg) {
    padding-bottom: 15px;
  }

  @media (max-width: $md) {
    padding-bottom: 5px;
  }
}

.directory__title {
  margin-bottom: 30px;

  font-size: 22px;

  @media (max-width: $lg) {
    font-size: 18px;
  }

  @media (max-width: $md) {
    margin-bottom: 20px;
  }
}

.directory__desc {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 18px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.3;
  font-family: $ff-main;
  text-align: center;
  color: $c-main;

  @media (max-width: $xl) {
    max-width: 790px;

    font-size: 12px;
  }

  @media (max-width: $lg) {
    max-width: 660px;
    margin-bottom: 27px;

    line-height: 1.35;
  }

  @media (max-width: $md) {
    margin-bottom: 20px;
  }
}

.directory__slider-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: .5px;

    background-color: #ddd;
  }
  @media (max-width: $md) {
    padding-right: 0;
  }
}

.directory__slider {
  margin-bottom: 20px;
  padding: 0 15px;

  @media (max-width: $md) {
    padding: 0;
  }
}

.directory__slide {
  padding: 30px;
  padding-bottom: 10px;

  background-color: #f9f9f8;
  border: 1px solid #e5d9bd;

  &:hover {
    text-decoration: none;

    background-color: #f1eadb;
  }
}

.directory__slide:hover .directory__item {
  text-decoration: none;
}

.directory__slide.swiper-slide {
  height: auto;
}
