.directory {
}

.directory__title {
  margin-bottom: 30px;

  font-size: 22px;
}

.directory__desc {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.3;
  font-family: $ff-main;
  text-align: center;
  color: $c-main;
}
