.goods {
  padding-top: 30px;

  @media (max-width: $lg) {
    padding-top: 50px;
  }

  @media (max-width: $md) {
    padding-top: 23px;
  }
}

.goods__list {
  margin-bottom: 30px;
}

.goods__item {
  margin-bottom: 30px;
  padding-bottom: 20px;

  border-bottom: 1px solid #eee;
}
