.icon__menu {
  display: none;

  @media (max-width: $md) {
    position: absolute;
    top: -121px;
    left: 10px;
    z-index: 450;

    display: block;
    width: 31px;
    height: 17px;

    cursor: pointer;

    .header__nav--active & {
      top: 35px;
    }
  }

  &::before,
  &::after {
    @media (max-width: $md) {
      content: "";
      position: absolute;
      left: 0;

      width: 100%;
      height: 10%;

      background-color: $c-main;

      transition: .3s;
    }
  }

  &::before {
    @media (max-width: $md) {
      top: 0;
    }
  }

  &::after {
    @media (max-width: $md) {
      bottom: 0;
    }
  }
}

.icon__menu span {
  @media (max-width: $md) {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 10%;

    background-color: $c-main;
    transform: scale(1) translate(0, -50%);

    transition: .3s;
  }
}

.icon__menu--close span {
  @media (max-width: $md) {
    transform: scale(0);
  }
}

.icon__menu--close::before {
  @media (max-width: $md) {
    top: 50%;

    transform: rotate(45deg) translate(0, -50%);
  }
}

.icon__menu--close::after {
  @media (max-width: $md) {
    bottom: 50%;

    transform: rotate(-45deg) translate(0, -50%);
  }
}

.icon__arrow {
  display: none;
}
