.icon__menu {
  display: none;

  @media (max-width: $md) {
    position: relative;
    z-index: 150;

    display: block;
    width: 31px;
    height: 17px;

    cursor: pointer;
  }

  &::before,
  &::after {
    @media (max-width: $md) {
      content: "";
      position: absolute;
      left: 0;

      width: 100%;
      height: 10%;

      background-color: $c-main;

      transition: .3s;
    }
  }

  &::before {
    @media (max-width: $md) {
      top: 0;
    }
  }

  &::after {
    @media (max-width: $md) {
      bottom: 0;
    }
  }
}

.icon__menu span {
  @media (max-width: $md) {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 10%;

    background-color: $c-main;
    transform: scale(1) translate(0, -50%);

    transition: .3s;
  }
}

.icon__menu .active span {
  transform: scale(0);
}

.icon__menu .active::before {
  top: 50%;

  transform: rotate(-45deg) translate(0, -50%);
}

.icon__menu .active::after {
  bottom: 50%;

  transform: rotate(-45deg) translate(0, -50%);
}
