.nav {
}

.nav__list {
  display: flex;
  justify-content: flex-start;
}

.nav__item {
  padding: 0 20px;

  &:first-child {
    position: relative;

    padding-left: 50px;
  }

  &:not(:last-child) {
    margin-right: 32px;

    @media (max-width: $xl) {
      margin-right: 27px;
    }

    @media (max-width: $xl) {
      margin-right: 23px;
    }
  }
}

.nav__link {
  font-size: 14px;
  color: $c-main;
}

.nav__burger {
  position: absolute;

  width: 18px;
  height: 10px;
}
