.nav {
}

.nav__list {
  display: flex;
  justify-content: flex-start;
}

.nav__link {
  font-size: 14px;
  color: $c-main;

  transition: .3s;

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }

  .nav__item--submenu:hover & {
    background-color: #fff;
    border-color: #e3d9d3;
    border-bottom: none;
  }

  &--icon {
    position: relative;

    padding-left: 51px;

    @media (max-width: $lg) {
      padding-left: 51px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 14px;

      display: block;
      width: 20px;
      height: 20px;

      background: url("../img/icon/burger_icon.png") no-repeat center center;
      background-size: 100%;
      transform: translateY(-50%);

      @media (max-width: $md) {
        display: none;
      }
    }
  }
}

.nav__burger {
  position: absolute;
  top: 50%;
  left: -35px;
  z-index: 150;

  display: block;
  width: 18px;
  height: 10px;

  transform: translate(0, -50%);
  cursor: pointer;

  @media (max-width: $md) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 10%;

    background-color: $c-main;

    transition: .3s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.nav__burger span {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 10%;

  background-color: $c-main;
  transform: scale(1) translate(0, -50%);

  transition: .3s;
}

.nav__link:hover span {
  transform: scale(0);
}

.nav__link:hover .nav__burger::before {
  top: 50%;

  transform: rotate(45deg) translate(0, -50%);
}

.nav__link:hover .nav__burger::after {
  bottom: 50%;

  transform: rotate(-45deg) translate(0, -50%);
}

.nav__sub-menu {
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  left: 0;
  z-index: 200;

  visibility: hidden;
  opacity: 0;

  transition: .2s;

  pointer-events: none;

  .nav__item:hover & {
    visibility: visible;
    opacity: 1;

    pointer-events: fill;
  }

  @media (max-width: $md) {
    display: none;
  }
}
