.phone {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-left: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    display: block;
    width: 17px;
    height: 18px;

    background: url("../img/icon/phone_icon.png") no-repeat center center;
    background-size: 100%;
    opacity: 1;

    transition: .3s;

    @media (max-width: $md) {
      left: 0;
    }
  }
}

.phone__link {
  color: $c-main;

  @media (max-width: $md) {
    font-size: $fz-secondary;
  }

  &:not(:last-child) {
    @media (max-width: $md) {
      margin-right: 5px;
    }
  }

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}

.phone:hover::after {
  opacity: .6;
}
