.product {
}

.product__wrap {
  margin-top: 5px;
}

.product__left {
  width: $c-6;
}

.product__slider-container {
  margin-bottom: 20px;
  padding: 0 95px;

  border: 1px solid #efefef;
}

.product__thumb-slide.swiper-slide,
.product__slide.swiper-slide {
  height: auto;
}

.product__right {
  width: $c-6;
}

.product__info {
  margin-bottom: 25px;
  padding: 22px 50px 33px 35px;

  background-color: #f8f8f8;
  border: 1px solid #efefef;
}

.product__desc {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 35px;
}

.product__title {
  margin-bottom: 65px;

  font-size: 22px;
  text-align: left;
}

.product__cost {
  position: relative;

  margin: 0;
  margin-bottom: 33px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;

    display: block;
    width: 22%;
    height: 1px;

    background-color: $c-accent;
  }
}

.product__text {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.3;
  font-family: $ff-main;
  color: $c-main;
}

.product__btn {
  min-width: 440px;
  padding: 17px 10px;

  font-size: 22px;

  background-color: $c-white;
}

.product__question-title {
  margin-bottom: 15px;

  text-align: left;
}

.product__question-btn {
  min-width: 220px;
  margin-bottom: 15px;

  color: $c-main;

  background-color: $c-white;
  border-color: $c-main;
}

.product__question-text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.3;
  font-family: $ff-main;
  color: $c-main;
}

.product__question-phone,
.product__question-email {
  margin-bottom: 16px;
  padding-left: 42px;
}

.product__question-phone .phone__link,
.product__question-email .email__link {
  font-weight: 400;
  color: #909090;
}

.product__question-email {
  font-weight: 400;
  color: #909090;

  &::after {
    top: 4px;
  }
}

.product__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__social-text {
  margin-right: 20px;
  margin-bottom: 0;

  font-weight: 600;
  font-size: $fz-main;
  line-height: 1.3;
  font-family: $ff-main;
  color: $c-main;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.product__row-bottom {
  display: flex;
  margin-top: 65px;
  margin-bottom: 80px;
}

.product__desc-title {
  margin-bottom: 20px;

  text-transform: capitalize;
}

.product__desc-text {
  // letter-spacing: .05em;
  max-width: 840px;
  margin: 0;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  color: $c-main;
}

.product__detals {
  margin-left: auto;
}

.product__detals-title {
  margin-bottom: 20px;

  text-transform: capitalize;
}

.product__detals-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.product__detals-name {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  color: #909090;
}

.product__detals-desc {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  color: $c-main;
}

.product__wrap-img {
  padding-top: 50px;
  padding-bottom: 50px;
}

.product__btn-next {
  right: 40px;
}

.product__btn-prev {
  left: 40px;
}
