.swiper-button-prev,
.swiper-button-next {
  top: 50%;

  color: #000;

  &::after {
    font-size: 38px;

    @media (max-width: $lg) {
      font-size: 30px;
    }
  }

  @media (max-width: $md) {
    display: none;
  }
}


.swiper-button-next {
  @media (max-width: $xl) {
    right: 0;
  }
}

.swiper-button-prev {
  @media (max-width: $xl) {
    left: 0;
  }
}
