.time {
  position: relative;

  padding-left: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 17px;
    height: 18px;

    background: url("../img/icon/time.png") no-repeat center center;
    background-size: 100%;
  }
}
