.modal {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 20px 20px;

  background-color: $c-white;
  border: 1px solid #e3d9d3;
}

.modal.active {
  @media (max-width: $md) {
    visibility: visible;
    opacity: 1;

    pointer-events: all;
  }
}

.modal__left {
  width: 70%;
  padding-right: 50px;

  @media (max-width: $lg) {
    width: 60%;
    padding-right: 15px;
  }

  @media (max-width: $md) {
    display: none;
  }
}

.modal__right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: calc(30% - 50px);
  padding-top: 4px;

  @media (max-width: $md) {
    width: 100%;
  }
}

.modal__phone {
  display: none;

  @media (max-width: $md) {
    display: block;
    margin-bottom: 25px;
  }
}

.modal__phone .phone__Link {
  @media (max-width: $md) {
    font-size: $fz-main;
  }
}

.modal__address {
  display: none;

  @media (max-width: $lg) {
    display: block;
    margin-bottom: 20px;
  }
}


.modal__time {
  margin-bottom: 25px;

  @media (max-width: $lg) {
    margin-bottom: 20px;
  }
}

.modal__email {
  margin-bottom: 70px;

  @media (max-width: $lg) {
    margin-bottom: 35px;
  }

  @media (max-width: $md) {
    margin-bottom: 40px;
  }
}

.modal__email .email__link {
  font-weight: 300;
}

.modal__social-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;

  @media (max-width: $md) {
    margin-bottom: 30px;
  }
}

.modal__social-title {
  margin-bottom: 20px;

  font-size: 14px;
  letter-spacing: 0;

  @media (max-width: $lg) {
    margin-bottom: 15px;
  }

  @media (max-width: $md) {
    margin-bottom: 10px;
  }
}

.modal__btn {
  min-width: 284px;

  @media (max-width: $lg) {
    min-width: 270px;
  }
}
