.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 200;

  padding-top: 13px;

  background-color: $c-white;
  border: 1px solid #e3d9d3;
  transform: translate(0, 10%);
  visibility: hidden;
  opacity: 0;

  transition: .3s;

  // pointer-events: none;

  @media (max-width: $md) {
    display: none;
  }
}

.sub-menu__wrap-col {
  width: $c-4;
}

.sub-menu__wrap-item {
  margin-bottom: 35px;
}

.sub-menu__title {
  font-size: $fz-main;
  line-height: 1.7;
  letter-spacing: 0;
}

.sub-menu__link {
  margin: 0;

  font-weight: 300;
  font-size: $fz-main;
  line-height: 1.7;
  font-family: $ff-main;
  color: $c-main;
  letter-spacing: 0;
}
