.sub-menu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;

  background-color: $c-white;
  border: 1px solid #e3d9d3;
}

.sub-menu__wrap-col {
  width: $c-3;
}

.sub-menu__wrap-item {
  margin-bottom: 35px;
}

.sub-menu__title {
  font-size: $fz-main;
  line-height: 1.7;
  letter-spacing: 0;

  @media (max-width: $xl) {
    font-size: 12px;
    line-height: 2;
  }

  .sub-menu__link:hover & {
    color: #000;
  }
}

.sub-menu__link {
  margin: 0;

  font-weight: 300;
  font-size: $fz-main;
  line-height: 1.7;
  font-family: $ff-main;
  color: $c-main;
  letter-spacing: 0;

  @media (max-width: $xl) {
    font-size: 12px;
    line-height: 2;
  }

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}
