// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 300;
  font-family: SegoeUI;
  font-style: normal;

  font-display: swap;
  src: url(../font/SegoeUI/SegoeUI-Light.woff2),
  url(../font/SegoeUI/SegoeUI-Light.woff);
}

@font-face {
  font-weight: 400;
  font-family: SegoeUI;
  font-style: normal;

  font-display: swap;
  src: url(../font/SegoeUI/SegoeUI.woff2),
  url(../font/SegoeUI/SegoeUI.woff);
}

@font-face {
  font-weight: 600;
  font-family: SegoeUI;
  font-style: normal;

  font-display: swap;
  src: url(../font/SegoeUI/SegoeUI-SemiBold.woff2),
  url(../font/SegoeUI/SegoeUI-SemiBold.woff);
}

@font-face {
  font-weight: 700;
  font-family: SegoeUI;
  font-style: normal;

  font-display: swap;
  src: url(../font/SegoeUI/SegoeUI-Bold.woff2),
  url(../font/SegoeUI/SegoeUI-Bold.woff);
}

@font-face {
  font-weight: 400;
  font-family: TrebuchetMS;
  font-style: normal;

  font-display: swap;
  src: url(../font/TrebuchetMS/TrebuchetMS.woff2),
  url(../font/TrebuchetMS/TrebuchetMS.woff);
}
