// //////////////////////////////////////// font-family
$ff-main: "SegoeUI", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 14px;
$fz-secondary: 16px;

// //////////////////////////////////////// colors
$c-main: #636363;
$c-white: #fff;
$c-accent: #bd9f59;

// //////////////////////////////////////// breakpoints
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;

// //////////////////////////////////////// grid
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px !important;
}

.col {
  margin: 0 15px;
}

$gap: 30px;
$c-12: calc(100% - #{$gap});
$c-11: calc(91.666667% - #{$gap});
$c-10: calc(83.333333% - #{$gap});
$c-9: calc(75% - #{$gap});
$c-8: calc(66.666667% - #{$gap});
$c-7: calc(58.333333% - #{$gap});
$c-6: calc(50% - #{$gap});
$c-5: calc(41.666667% - #{$gap});
$c-4: calc(33.333333% - #{$gap});
$c-3: calc(25% - #{$gap});
$c-2: calc(16.666667% - #{$gap});
$c-1: calc(8.333333% - #{$gap});


.test {
}

.test__item {
  width: $c-3;
  margin-bottom: 30px;

  @media (max-width: $lg) {
    width: $c-4;
  }
}
