.footer {
}

.footer__container {
  display: flex;
}


.footer__nav {
}

.footer__title {
  margin-bottom: 30px;
}

.footer__nav .nav__list {
  flex-direction: column;
}

.footer__nav .nav__item {
  &:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer__nav .nav__link {
  font-weight: 400;
  color: #909090;
  text-transform: none;
}

.footer__logo {
  position: absolute;
  bottom: 0;
  left: 0;
}
